$font-icons: (
	academical: "\E001",
	chat: "\E002",
	chevron-down: "\E003",
	chevron-right: "\E004",
	chevron-up: "\E005",
	cross: "\E006",
	menu: "\E007",
	screen: "\E008",
	search: "\E009",
	time: "\E00A",
	users: "\E00B",
);