.select-widget-tab-content {
  padding-top: 10px;
}
.select-widget-tab-content .widget {
  cursor: pointer;
}
.select-widget-tab-content .widget .thumbnail {
  box-shadow: 0 0 8px rgba(46, 61, 73, 0.15);
  border-radius: 0.375rem;
  transition: all 0.3s ease;
}
.select-widget-tab-content .widget .thumbnail:hover {
  border-color: #ccc;
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: thin dotted\9;
  -webkit-box-shadow: 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: 0 0 8px rgba(82, 168, 236, 0.6);
}
ul.gridster-widgets {
  width: 1320px!important;
  position: relative;
  border: 1px solid;
}
ul.gridster-widgets li {
  background-color: lightgray;
  list-style: none;
  margin: 0;
  padding: 20px;
  position: absolute;
}
ul.gridster-widgets li.well {
  cursor: pointer;
  overflow: hidden;
}
ul.gridster-widgets .well {
  margin-left: -20px;
}
ul.gridster-widgets .btn-group-widgets {
  margin-bottom: 20px;
}
.gridster {
  margin-top: 20px;
}
.gridster.import-process .grid-stack-item-content {
  opacity: 0.4;
  cursor: no-drop;
}
.gridster.import-process .grid-stack-item-content.glyph {
  opacity: 1;
  cursor: copy;
}
.gridster.import-process .grid-stack-item-content.glyph:hover {
  border-color: #ccc;
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: thin dotted\9;
  -webkit-box-shadow: 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: 0 0 8px rgba(82, 168, 236, 0.6);
}
.gridster.import-process .grid-stack-item-content.glyph.disable-current {
  opacity: 0.4;
  cursor: no-drop;
}
.gridster.import-process .grid-stack-item-content.glyph.disable-current:hover {
  border: none;
  box-shadow: none;
}
.gridster .glyphicon.glyphicon-chevron-left {
  left: 20px;
  top: 5px;
}
.gridster .glyphicon.glyphicon-chevron-right {
  left: 35px;
  top: 5px;
}
.gridster .glyphicon.glyphicon-chevron-up {
  left: 5px;
  top: 20px;
}
.gridster .glyphicon.glyphicon-chevron-down {
  left: 5px;
  top: 35px;
}
.gridster .glyphicon.glyphicon-cog {
  right: 5px;
  top: 5px;
}
.gridster .glyphicon.glyphicon-trash {
  right: 25px;
  top: 5px;
}
.gridster .glyphicon.glyphicon-link {
  right: 45px;
  top: 5px;
}
.gridster .glyphicon.glyphicon-import {
  left: 5px;
  top: 5px;
}
.gridster .glyphicon.glyphicon-export {
  left: 25px;
  top: 5px;
}
.gridster .glyphicon {
  position: absolute;
  opacity: .3;
  cursor: pointer;
}
.gridster .well:hover .glyphicon {
  opacity: 1;
}
.gridster .glyphicon:hover {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}
.gridster img {
  margin-right: 10px;
  vertical-align: top;
}
.modal-body iframe {
  min-height: 700px;
  border: none;
}
.grid-stack {
  background: lightgoldenrodyellow;
  margin-bottom: 50px;
}
.grid-stack-item-content {
  color: #2c3e50;
  text-align: center;
  background-color: #18bc9c;
  overflow-y: hidden !important;
}
.wp-editor-container {
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.images-layout {
  margin-bottom: 20px;
}
.images-layout .form-group {
  position: relative;
  margin-right: 15px;
}
.images-layout .form-group:last-child {
  margin-right: 0;
}
.images-layout .form-group:hover .glyphicon-remove {
  color: gray;
}
.images-layout .glyphicon-remove {
  position: absolute;
  right: 5px;
  top: 5px;
  cursor: pointer;
}
.images-layout img {
  width: 195px;
}
.image-layout {
  margin-bottom: 20px;
}
.image-layout img {
  width: 100%;
}
